<a href="https://colab.research.google.com/github/rjkevin/geocoding/blob/main/Automating_Google_Searches_in_Oddle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Automating  google search queries from a user input

**Step 1**: Import googlesearch library  <br>
**Step 2**: Specify query or list of queries <br>
**Step 3**: Input a search topic using the input ( ) function <br>
**Step 4**: Iterate the queries and searches using for loop <br>

In [ ]:
from googlesearch import search #importing search module from google search library

query =[' delivery & takeaway',' Facebook',' Instagram']
restaurant_name = input('Enter restaurant name: ')
for x in query: # nested for loops
  for i in search(restaurant_name+'malaysia'+ x,tld='com', lang='en', num=1, 
   start=0, stop=1, pause=2.0):
    print(i)

Enter restaurant name: Nasi Lemak Saleha
https://www.nasilemaksaleha.com/en_MY/
https://www.facebook.com/NasiLemakSaleha/
https://www.instagram.com/nasilemaksaleha/?hl=en

How to search for images / news/ books etc 

Change respective tpe parameter to 
*   image = isch
*   news = nws
*  video = vde

In [ ]:
from googlesearch import search

user_query = input(print('Enter search: '))
for x in search(user_query,tld='com',tpe='nws',lang='en',start=0,stop=3,num=3,pause=2.0):
  print(x)

Enter search:
Nasi lemak saleha
https://www.theedgemarkets.com/article/ecommerce-drives-humanitarian-aid-benderaputih-movement
https://www.lifestyleasia.com/kl/food-drink/dining/nasi-lemak-delivery-services-2021/
https://www.utusan.com.my/ekonomi/2021/04/dari-tepi-jalan-nasi-lemak-saleha-kini-miliki-dua-restoran/

# Automating google search queries from a list

In [ ]:
from googlesearch import search
restaurant_list = ['Nasi Lemak Saleha','Cor Blimey','Pizzaroma','Le Meridien KL']

query = 'Facebook'

facebook=[]
for restaurant in restaurant_list:
  for i in search(restaurant + 'Malaysia'+ query,lang='en',tld='com',start=0,stop=1,num=1,pause=2.0):
    facebook.append(i)
    
query = 'Instagram'

instagram = []
for restaurant in restaurant_list:
  for i in search(restaurant + 'Malaysia'+ query,lang='en',tld='com',start=0,stop=1,num=1,pause=2.0):
    instagram.append(i)


query = 'delivery & takeaway'

delivery =[]
for restaurant in restaurant_list:
  for i in search(restaurant + 'Malaysia'+ query,lang='en',tld='com',start=0,stop=1,num=1,pause=2.0):
    delivery.append(i)    


import pandas as pd

df =pd.DataFrame(list(zip(restaurant_list,facebook,instagram,delivery)), columns=['merchants','facebook','instagram','delivery & takeaway'])

df

           merchants  ...                     delivery & takeaway
0  Nasi Lemak Saleha  ...  https://www.nasilemaksaleha.com/en_MY/
1         Cor Blimey  ...             http://www.corblimeymy.com/
2          Pizzaroma  ...               https://www.pizzaroma.my/
3     Le Meridien KL  ...       https://le-meridien.marriott.com/

[4 rows x 4 columns]

# Automate google search queries from a csv file

In [ ]:
import pandas as pd
data = pd.read_csv('/content/test test - Sheet1.csv')



from googlesearch import search
restaurant_list = data['merchants']

query = 'Facebook'

facebook=[]
for restaurant in restaurant_list:
  for i in search(restaurant + 'Malaysia'+ query,lang='en',tld='com',start=0,stop=1,num=1,pause=2.0):
    facebook.append(i)
    
query = 'Instagram'

instagram = []
for restaurant in restaurant_list:
  for i in search(restaurant + 'Malaysia'+ query,lang='en',tld='com',start=0,stop=1,num=1,pause=2.0):
    instagram.append(i)


query = 'delivery & takeaway'

delivery =[]
for restaurant in restaurant_list:
  for i in search(restaurant + 'Malaysia'+ query,lang='en',tld='com',start=0,stop=1,num=1,pause=2.0):
    delivery.append(i)    


df =pd.DataFrame(list(zip(restaurant_list,facebook,instagram,delivery)), columns=['merchants','facebook','instagram','delivery & takeaway'])

df

           merchants  ...                     delivery & takeaway
0  nasi lemak saleha  ...  https://www.nasilemaksaleha.com/en_MY/
1         cor blimey  ...             http://www.corblimeymy.com/
2          pizzaroma  ...               https://www.pizzaroma.my/
3        le meridien  ...            https://lemeridien.oddle.me/

[4 rows x 4 columns]

In [ ]:
df.to_csv('merchants_research.csv')